/* OUTILS */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext);

/*                                                                          GENERAUX */
html {
    font-size: 16px;
}
.clearfix:after{
    display: block;
    content: '';
    clear: both;
}
.wrapper{
    margin: auto;
    width: 90%;    
}

/*                                                                          BODY */
body {    
    background-image: url(../img/header.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;    
    display: block;
    font-family: Roboto;    
}

/*                                                                          HEADER */
.menu-button {
    display: none;
}
.row-menu {
        display: none;
    }
header {
    height: 100vh;
    font-family: Roboto Condensed;
}
.header-menu {
    padding: 1em;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;    
}
.header-menu ul li {    
    display: inline;    
    font-size: 17pt;
    font-weight: 300; 
    letter-spacing: 0.05em;
    padding: 1em;
    text-transform: uppercase;   
    text-shadow: 1px 1px 1px #171717;
}
.header-menu ul li:first-child {
    font-weight: 700;
}
.header-menu a {    
    color: white;
    text-decoration: none;
}
.header-titre{
    font-size: 48pt;    
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.header-titre h1 {
    letter-spacing: 0.25em;
    margin-top: 15vh;
    padding: 0.5em;
    text-shadow: 1px 1px 1px #171717;
}
.header-titre img {
    height: 30vh;
    margin-bottom: 1em;
}
.arrow {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 3.5em;
    width: 100%;
}

/*                                                                          MAIN */
main {
    background-color: #171717;
    color: white;
    text-align: center;
    display:block;
}
main h1 {
    font-size: 30px;
    letter-spacing: 0.1em;    
    padding: 1em;
    text-transform: uppercase;
}
section img {
    height: 257px;
    width: 205px;
    padding: 1em;
    vertical-align: middle;
}
.description-id{
    background-color: white;
    color: #171717;    
    width: 30%;
    margin: auto;
    padding: 1em;
}
section h2 { 
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.fond-interet {    
    background-size: cover;
    background-image: url(../img/fond-interet.jpg);
    height: 275px;    
}
.fond-interet h2 {
    margin: 1.5em;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
}
.interet1, .interet2, .interet3 {
    float: left;
    text-align: center;
    width: 33%;
}
.newspaper, .desktop, .flask {
    font-size: 7em;
    margin: auto;
}
/*                                                                          FOOTER */

.footer-haut {
    background-color: white;
    color: #171717;
    text-align: center;
    padding: 1em;
}
.viadeo-picto, .linkedin-picto, .github-picto {
    color: #171717;
    font-size: 3em; 
    margin: 0.3em;
}
.footer-haut h3 {
    text-transform: uppercase;
    letter-spacing: 0.2em; 
    font-weight: 700;
    line-height: 2em;
}
.footer-haut p {    
    line-height: 1.5em;
}
.footer-bas {
    margin: auto;
    text-align: center;
    background-color: #171717;
    color: white;
}
.footer-bas p {
    line-height: 5em;
    font-size: 16px;
    height: 5em;
}



/* FORMAT TABLETTE */
@media (max-width: 800px){
    
    nav ul {
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
    }
    nav ul.open {
        height: 4em;
    }
    .menu-button {
        font-weight: 500;
        font-size: 2em;
        height: 1em;
        line-height: 1em;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    .menu-button {
        display: block;
    }
    
    nav {
        text-align: center;
        margin: auto;
    }
    .row-menu {
        display: block;
    }
    .img-id {
        float: left;
        width: 50%;
    }
    .description-id {
        width: 50%;
    }
}

