/* OUTILS */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic&subset=latin,latin-ext);

/*                                                                          GENERAUX */
html {
    font-size: 16px;
}
.clearfix:after{
    display: block;
    content:'';
    clear: both;
}
.wrapper{
    margin: auto;
    width: 90%;    
}
/*                                                                          BODY */
body {    
    color: white;    
    display: block;
    font-family: Roboto;    
    height: 100%;
    width: 100%;
}

/*                                                                          HEADER */
.menu-button {
    display: none;
}
.row-menu {
        display: none;
    }
header {
    font-family: Roboto Condensed;
    height: 30vh;
    background-image: url(../img/header-contact.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
.header-menu {
    padding: 1em;
    position: fixed;
    width:100%;
    z-index: 1;    
}
.header-menu ul li {    
    display: inline;    
    font-size: 17pt;
    font-weight: 300; 
    letter-spacing: 0.05em;
    padding: 1em;
    text-transform: uppercase; 
    text-shadow: 1px 1px 1px #171717;
}
.header-menu ul li:last-child {
    font-weight: 700;
}
.header-menu a {    
    color: white;
    text-decoration: none;
}

/*                                                                          MAIN */
main {
    background-color: #171717;
    color: white;
    display:block;
}
main h1 {
    font-size: 30px;
    letter-spacing: 0.1em;    
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
}
main p {
    
}

/*                                                                          FORM + IMG */
form {
    width: 59%;
    float: left;
    margin-left: 5%;
}
  
.text1{
    width:40%;
    margin: 1em;
    border: solid 1px white;
    background: transparent;
    color: white;
    padding: 6px 15px 6px 35px;
}
.text2 {
    width:70%;
    height: 200px;
    margin: 1em;
    border: solid 1px white;
    background: transparent;
    color: white;
    padding: 6px 15px 6px 35px;
    margin-bottom: 5em;
}
.text1:focus, .text2:focus {
    background-color: white;
    color: #171717;
}

.button-submit {
    margin: 1em;
    background: white;
    color: #171717;
    border: 0px;
    padding: 6px 15px 6px 15px;
    text-align: left;
}
::-webkit-input-placeholder {
    font-family: Roboto;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: Roboto;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: Roboto;  
}

:-ms-input-placeholder {  
    font-family: Roboto;
}

/*                                                                          FOOTER */

.footer-haut {
    background-color: white;
    color: #171717;
    text-align: center;
    padding: 1em;
}
.viadeo-picto, .linkedin-picto {
    color: #171717;
    font-size: 3em; 
    margin: 0.3em;
}
.footer-haut h3 {
    text-transform: uppercase;
    letter-spacing: 0.2em; 
    font-weight: 700;
    line-height: 2em;
}
.footer-haut p {    
    line-height: 1.5em;
}
.footer-bas {
    margin: auto;
    text-align: center;
    background-color: #171717;
    color: white;
}
.footer-bas p {
    line-height: 5em;
    font-size: 16px;
    height: 5em;
}


/* FORMAT TABLETTE */
@media (max-width: 800px){
    .wrapper {
        width: 100%;
    }
    header {
    height: 118px;
    }
    nav ul {
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
    }
    nav ul.open {
        height: 4em;
    }
    .menu-button {
        font-weight: 500;
        font-size: 2em;
        height: 1em;
        line-height: 1em;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    .menu-button {
        display: block;
    }
    
    nav {
        text-align: center;
        margin: auto;
    }
    .row-menu {
        display: block;
    }
}
